/* Elementos */

/* Classes */
.viewport-1{
  background-size: cover;
  background-image: url(/assets/img/cover/cadastro.jpg);
  height: 100vh;
}

.card{
  background-color: #393F60;
  margin-left: 60%;
  height:100vh;
  position: absolute;
}


.logo{
    width: 80%;
    margin-left: 10%;
  }

/* Ids */

#texto_cadastro{
 color:#DFE2E2;
 margin-left: 5%;
 font-family: 'Zilla Slab', serif;
 font-weight: bold;
}
