<section class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card card_detalhes">
        <div class="card-content">

          <div class="col s12 m6 l6 ">
            <img id="img_produdo" src="assets/img/perfil_provisorio/produto_provisorio.jpg" alt="Nintendo Switch">
          </div>

          <div class="col s12 m6 l6">
            <h2 id="nome_produto"> Nintendo Switch</h2>
            <form action="#">
              <p class="range-field">
                <input type="range" id="test5" min="0" max="100" />
              </p>
              <label for=""> Quantidade de dias Desejado </label>
            </form>

              <h5 id="valor_semana"> R$10,00</h5>
              <h5 id="localizacao_produto"> Localização: Rio de Janeiro</h5>
              <h5 id="entrega_produto"> Entrega em: Rio de Janeiro | Niteroi </h5>
          </div>
            <div class="row">
              <div class="col s6 m6 l6">
                <a class="btn waves-effect waves-light botao_favoritos" href="/perfil" ><i class="material-icons">favorite</i></a>
              </div>
              <div class="col s6 m6 l6">
                <button class=" btn waves-effect waves-light botao_alugar left-align" type="submit" name="action" href = "/cadastro-usuario">Alugar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

<section class="container">
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card perfil ">
          <div class="card-image">
            <img id="image_banner"src="assets/img/banners/perfil.jpg" alt="paisagem de montanhas">
            <img id="img-circle"src="assets/img/perfil_provisorio/perfil_provisorio.jpg" alt="Emma watson">
            <h3 id="usuario_name"> Emma Watson</h3>
            <div class="card-content">
              <div class="row">
                <div class="col s4 m4 l4">
                  <h3 id="texto_perfil_alugando">Alugando</h3>
                  <h5 id="qtd_alugando"> 005</h5>
                </div>
                <div class="col s4 m4 l4 ">
                  <h3 id="texto_perfil_alugados">Alugados</h3>
                  <h5 id="qtd_alugados"> 002</h5>
                </div>
                <div class="col s4 m4 l4">
                  <h3 id="texto_perfil_Palugar">P/Alugar</h3>
                  <h5 id="qtd_Palugar"> 010</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card outros_produtos">
          <div class="card-content">
            <h3 class="lista_text">Outros Produtos</h3>
          </div>
        </div>
      </div>
      <div class="col s12 m8 l8">
        <div class="card card_descricao_produto">
          <div class="card-content">
            <h4 id="titulo_descricao"> Descrição do Produto</h4>
            <h4 id ="texto_descricao">
              Visão geral: Console híbrido de mesa e portátil, ou seja, você pode escolher se quer jogar na tv ou levá-lo.
              Memória Interna: 32Gb
              Processador:  Nvidia Tegra Modificado
              Dimensões: 10.2cm x 1.4cm x 23.9cm
              Observações:  Os jogos são alugados separamente.
            </h4>

          </div>
        </div>
        <div class="card comentario_usuario">
          <div class="card-image">
            <img id="img-circle_comentarios_usuario" src="assets/img/perfil_provisorio/perfil_provisorio2.jpg" alt="Hayao Miyazaki">
            <div class="card-content" id="comentario_usuario">
              <form class="comentario_text row" action="index.html" method="post">
                <div class="col s9 m8 l8">
                  <input type="text" id="comentario">
                </div>
                <div class="col m4 l4 hide-on-small-only ">
                  <button class="waves-effect waves-light btn botao right-align" type="submit" name="comentario"> Postar</button>
                </div>
                <div class="col s2 show-on-small-only ">
                  <button class="waves-effect waves-light btn botao right-align" type="submit" name="comentario"><i class="material-icons">send</i></button>

                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card comentario_postado ">
          <div class="card-image">
            <img class="prefix" id="img-circle_comentarios"src="assets/img/perfil_provisorio/perfil_provisorio3.jpg" alt="Tim Burton ">
            <h3 id="usuario_name_comentario"> Tim Burton <a id="complemento_nome_comentario"> | 2hrs </a></h3>
            <div class="card-content">
              <h4 id ="texto_comentario">
                Lorem ipsum donec netus donec quisque duis sollicitudin, orci nibh duis cubilia lobortis consequat, dolor tellus velit est tempus dolor. proin aliquet suscipit nisi habitant nibh curabitur duis quis, vitae inceptos tortor magna vehicula dictumst curabitur, nunc porta quam vitae ligula massa at. sagittis est quisque lorem turpis pharetra ultricies litora tempor auctor fusce diam aenean sit, tincidunt rutrum curabitur aptent ut habitant aliquet integer scelerisque est conubia porttitor. suspendisse porttitor aenean curae at aenean suspendisse lorem.
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
