<section>
  <div class="viewport-1">
    <form #addForm="ngForm" (ngSubmit)="save(addForm)">
      <div class="card">
        <div class="card-content">
          <img class = "logo" src="assets/img/logo/logo_alugaÊ_menor.png" alt="logo alugê é um texto emletras grossas">
          <h3 id = "chamada_login">Comece a Alugar!</h3>
          <div class="row">
            <div class="input-field col s12">
              <input type="email" class="validate" id="email" name="email_usuario" ngModel>
              <label class="active" for="email" data-error="E-mail no formato errado" data-success="">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="password" class="validate" id="senha" name="senha_usuario" ngModel>
              <label class="active" for="password">Senha</label>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <a class="btn waves-effect waves-light botao_cadastrar" href="/cadastro-usuario" >Criar Conta</a>
            </div>
            <div class="col s6">
              <button class=" col s6 btn waves-effect waves-light" type="submit" name="action" href = "/home">Entrar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
