<section>
  <div class="viewport-1">
      <div class="card">
          <div class="card-content">
              <img class = "logo" src="assets/img/logo/logo_alugaÊ_menor.png" alt="logo alugê é um texto emletras grossas">
              <h3 id = "chamada_login">Comece a Alugar!</h3>
              <div class="row">
                     <div class="input-field col s12">
                       <input type="text" class="validate">
                       <label class="active" for="nome" data-error="wrong" data-success="right">Nome</label>
                     </div>
                   </div>
                   <div class="row">
                     <div class="input-field col s12">
                       <input type="password" class="validate">
                       <label class="active" for="password">Senha</label>
                    </div>
                   </div>

                     <button class=" col s4 btn waves-effect waves-light botao_cadastrar " type="submit" name="action">Criar Conta</button>


                        <button class=" col s4 btn waves-effect waves-light botao_entrar" type="submit" name="action">Entrar</button>


          </div>
      </div>
  </div>

</section>
