<section class="container">
  <div class="row">
    <div class="col s4 ">
      <div class="card perfil">
        <div class="card-image">
          <img id="image_banner" src="assets/img/banners/perfil.jpg" alt="paisagem de montanhas">
          <img id="img-circle" src="assets/img/perfil_provisorio/perfil_provisorio.jpg" alt="Emma watson">
          <h3 id="usuario_name">Emma Watson</h3>
          <div class="card-content">
            <div class="row  hide-on-med-and-down">
              <div class="col s4 m4 l4">
                <h3 id="texto_perfil_alugando">Alugando</h3>
                <h5 id="qtd_alugando"> 005</h5>
              </div>
              <div class="col s4 m4 l4">
                <h3 id="texto_perfil_alugados">Alugados</h3>
                <h5 id="qtd_alugados"> 002</h5>
              </div>
              <div class="col s4 m4 l4">
                <h3 id="texto_perfil_Palugar">P/Alugar</h3>
                <h5 id="qtd_Palugar"> 010</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card lista_desejos">
        <div class="card-content">
          <h3 class="lista_text">Lista de Desejos</h3>
        </div>
      </div>
      <div class="card configuracao_perfil">
        <div class="card-content">
          <a class="btn waves-effect waves-light botao_configuracao" href="/congiguracao_perfil" >Configuração</a>
        </div>
      </div>
    </div>
    <div class="col s8">
      <div class="card comentario_usuario">
        <div class="card-image">
            <img id="img-circle_comentarios_usuario" src="assets/img/perfil_provisorio/perfil_provisorio2.jpg" alt="Hayao Miyazaki">
            <div class="card-content" id="comentario_usuario">
              <form class="comentario_text row" action="index.html" method="post">
                  <div class="col s8">
                      <input type="text" id="comentario">
                  </div>
                <div class="col s4">
                  <button class="waves-effect waves-light btn botao right-align" type="submit" name="comentario"> Postar</button>
                </div>
              </form>
            </div>
        </div>
        </div>
        <div class="card comentario_postado ">
          <div class="card-image">
              <img class="prefix" id="img-circle_comentarios"src="assets/img/perfil_provisorio/perfil_provisorio3.jpg" alt="Tim Burton ">
              <h3 id="usuario_name_comentario"> Tim Burton <a id="complemento_nome_comentario"> | 2hrs </a></h3>
            <div class="card-content">
              <h4 id ="texto_comentario">
                Lorem ipsum donec netus donec quisque duis sollicitudin, orci nibh duis cubilia lobortis consequat, dolor tellus velit est tempus dolor. proin aliquet suscipit nisi habitant nibh curabitur duis quis, vitae inceptos tortor magna vehicula dictumst curabitur, nunc porta quam vitae ligula massa at. sagittis est quisque lorem turpis pharetra ultricies litora tempor auctor fusce diam aenean sit, tincidunt rutrum curabitur aptent ut habitant aliquet integer scelerisque est conubia porttitor. suspendisse porttitor aenean curae at aenean suspendisse lorem.
              </h4>

            </div>
          </div>
      </div>
  </div>
</div>
</section>
