<!-- <img src="../../assets/img/icones/lupa.svg" alt=""> -->
<!-- <i class="material-icons">search</i> -->
<nav class="main_nav nav-extended">
  <div class="nav-wrapper row">
    <a href="/home" class="brand-logo left alugae_icon hide-on-med-and-down"><img src="../../assets/img/logo/logo_alugaÊ_menor.png" class="logo_size" alt="Logo"></a>
    <a href="/home" class="brand-logo center hands_icon hide-on-large-only"><img src="../../assets/img/logo/ALugaÊ_ICON.svg" class="logo_size" alt="Logo"></a>
    <a materialize="sideNav" [materializeParams]="[{edge:'left'}]"  href="#" data-activates="mobile-demo" class="hide-on-large-only sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
  <div class="nav-content row ally_nav">
    <div class="container">
      <ul class="tabs tabs-transparent hide-on-med-and-down">
        <li class="tab"><a href="#test1">Test 1</a></li>
        <li class="tab"><a class="active" href="#test2">Test 2</a></li>
        <li class="tab"><a href="#test4">Test 4</a></li>
      </ul>
    </div>
    <form>
      <div class="input-field col offset-m2 m8 offset-s2 s8 hide-on-large-only">
        <input id="search" type="search" placeholder="Busca" required>
        <label class="label-icon" for="search"><img src="../../assets/img/icones/lupa.svg" alt=""></label>
      </div>
    </form>
  </div>
</nav>
<!-- <nav class="ally_nav">
  <div class="nav_wrapper row">
    <form>
        <div class="input-field col offset-m2 m8 offset-s2 s8">
          <input id="search" type="search" placeholder="Busca" required>
          <label class="label-icon col offset-m9 offset-s9" for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
  </div>
</nav> -->
<!-- col offset-m9 offset-s9 -->
