nav{
  color: transparent;
}
.main_nav{
  height: 9.65vh;
  background: linear-gradient(180deg, #393F60 0%, #575E8B 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  margin-bottom: 0;
}

.ally_nav{
  background: #95B2D0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 5.42vh;
}
.alugae_icon{
  position: absolute;
  left: 8.96%;
  right: 79.58%;
  top: 9.73%;
  bottom: 47.57%;
  height: 8vh;
}

.hands_icon{
  margin-top: 1vh;
  height: 8vh
}

.logo_size{
height: 8vh;
}

nav .sidenav-trigger i{
  margin-left: 4vw;
  padding-top: 2vh;
  margin-top: 0vh;
  font-size: 3.5vh;
  height: 3.5vh
}

.ally_nav input{
  margin-top: 1vh;
  height: 3.5vh;
}
.ally_nav label, .ally_nav i{
  height: 3.5vh;
  line-height: 1;
}
