<nav class="main_nav">
  <div class="nav-wrapper row">
    <a href="/home" class="brand-logo left alugae_icon hide-on-med-and-down"><img src="../../assets/img/logo/logo_alugaÊ_menor.png" class="logo_size" alt="Logo"></a>
    <a href="/home" class="brand-logo center hands_icon hide-on-large-only"><img src="../../assets/img/logo/ALugaÊ_ICON.svg" class="logo_size" alt="Logo"></a>
    <a materialize="sideNav" [materializeParams]="[{edge:'left'}]"  href="#" data-activates="mobile-demo" class="hide-on-large-only sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
<nav class="ally_nav">
  <div class="nav_wrapper row">
    <form>
        <div class="input-field col offset-m2 m8 offset-s2 s8">
          <input id="search" type="search" placeholder="Busca" required>
          <label class="label-icon col offset-m9 offset-s9" for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
  </div>
</nav>
