
<!-- Section do cover da página -->
<section class="container">
  <div class="row">
    <img class ="col s12" src="/assets/img/cover/sobre.jpg" alt="casal segurando uma caixa">
    <div class="posicao hide-on-small-only">
      <img class="logo" src="/assets/img/logo/ALugaÊ_Cfundo.png" alt="logo alugê. Um aperto de mão">
    </div>
  </div>
</section>


<!-- Section barra lateral icones o que fazemos -->

<section class ="container">
  <div class="row">
    <div class="col s4 hide-on-small-only">
      <img class="icone"src="/assets/img/icones/gift.png" alt="icone de mão segurando uma caixa">
      <h5 id="texto_box">O produto que você quer nas suas mãos por um preço justo.</h5>
      <img class="icone"src="/assets/img/icones/direction.png" alt="icone de seta de GPS">
      <h5 id="texto_box">Produtos bem pertos de você.</h5>
    </div>

    <div class="col l8 s12">
      <div class="container" >
        <h3>Sobre nós:</h3>
        <h5>Nós somos uma empresa que visa ajudar pessoas que possuam itens parados em suas casas e querem fazer algum dinheiro com eles sem nescessariamente se desapegar deles. Queremos também ajudar quem precisa de ou deseja um item e não pode, ou não quer, comprar o mesmo.</h5>
      </div>
      <div class="container">
        <h3>Nossa Missão:</h3>
        <h5>Ajudar pessoas que queiram itens por tempo limitado.</h5>
      </div>
      <div class="container">
        <h3>Nossa Visão:</h3>
        <h5>Ser uma plataforma capaz de aquecer o mercado de aluguel de pequenos itens no Brasil.</h5>
      </div>
    </div>
  </div>
</section>
