<section class="container">
  <div class="carousel" materialize="carousel" [materializeParams]="[{dist:0, padding:30}]">
    <a class="carousel-item" style="transform: translateY(0px)">
      <div class="card">
        <div class="card-image">
          <img [src] = "produto[0].ul">
          <div class="card-content">
            <h5> {{produto[0].nome}}</h5>
            <h6>{{produto[0].preco}}</h6>
          </div>
        </div>
      </div>
    </a>
    <a class="carousel-item" style="transform: translateY(0px)">
      <div class="card">
        <div class="card-image">
          <img [src] = "produto[0].ul">
          <div class="card-content">
            <h5> {{produto[0].nome}}</h5>
            <h6>{{produto[0].preco}}</h6>
          </div>
        </div>
      </div>
    </a>
    <a class="carousel-item" style="transform: translateY(0px)">
      <div class="card">
        <div class="card-image">
          <img [src] = "produto[0].ul">
          <div class="card-content">
            <h5> {{produto[0].nome}}</h5>
            <h6>{{produto[0].preco}}</h6>
          </div>
        </div>
      </div>
    </a>
    <a class="carousel-item" style="transform: translateY(0px)">
      <div class="card">
        <div class="card-image">
          <img [src] = "produto[0].ul">
          <div class="card-content">
            <h5> {{produto[0].nome}}</h5>
            <h6>{{produto[0].preco}}</h6>
          </div>
        </div>
      </div>
    </a>
    <a class="carousel-item" style="transform: translateY(0px)">
      <div class="card">
        <div class="card-image">
          <img [src] = "produto[0].ul">
          <div class="card-content">
            <h5> {{produto[0].nome}}</h5>
            <h6>{{produto[0].preco}}</h6>
          </div>
        </div>
      </div>
    </a>
    <a class="carousel-item" style="transform: translateY(0px)">
      <div class="card">
        <div class="card-image">
          <img [src] = "produto[0].ul">
          <div class="card-content">
            <h5> {{produto[0].nome}}</h5>
            <h6>{{produto[0].preco}}</h6>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
