<div class="container">
  <a class="left content-indicator waves-effect waves-light col s1 m1 l1" (click)="movePrevCarousel()"><i class="material-icons middle-indicator-text">chevron_left</i></a>
  <a class="right content-indicator waves-effect waves-light col s1 m1 l1" (click)="moveNextCarousel()"><i class="material-icons middle-indicator-text">chevron_right</i></a>



  <div #carousel class="carousel" [ngClass]="{ 'initialized': showInitialized }" materialize="carousel" [materializeActions]="actions" [materializeParams]="[{dist:0, padding:30}]" *ngIf="produto">
    <a *ngFor="let url of imageURLs, let i = index" class="carousel-item">
     <div class="card">
       <div class="card-image">
         <img [src] = "url">
         <div class="card-content">
           <h5> {{produto[i]}}</h5>
           <h6>{{preco[i]}}</h6>
         </div>
       </div>
     </div>
    </a>
  </div>


</div>
