<section>
  <form  action="index.html" method="post">
  <div class="card card_principal">
    <div class="card-content">

      <div class="row">
        <div class="col s4 input_margin">
          <h4 id="texto_cadastro">Cadastro de Produto</h4>
          <input class="input_margin"  type="text" id="nome_produto">
          <label> Nome do Produto</label>
          <input class="input_margin materialize-textarea" type="text" id="descricao_produto">
          <label> Descrição do Produto</label>
          <div class="row">
            <div class="col s6">
              <input type="text" id="preco_diaria">
              <label> Preço da Diária</label>
            </div>
            <div class="col s5 "id = "tipo">
                <select class="browser-default">
                  <option value="" >Tipo</option>
                  <option value="1">Eletrônicos</option>
                  <option value="2">Livros</option>
                  <option value="3">Cozinha</option>
                </select>
            </div>
          </div>
          <input class="input_margin" type="text" id="produto_marca">
          <label> Marca</label>
        </div>




        <div class="col s4">
          <div class="card card_imagem">
            <div class="card-content">
              <img class="imagem " src="../../../assets/img/icones/picture.png"  alt="icone de uma imagem">
            </div>
          </div>
          <button type="submit" name="imagem_submit" class="btn"> Adicionar Imagem</button>
        </div>

        <div class="col s4">
          <img class ="icone" src="../../../assets/img/icones/warning.png" alt="Icone de Atenção">
          <h5 id="texto_warning">ATENÇÂO!</h5>
          <h5 id="texto_warning">  Em caso de perta, quebra ou furto. Será cobrado uma multa de até 50X o valor semanal.</h5>
          <button type="submit" name="cadastro_produto" class="waves-effect waves-light btn botao right-align"> Cadastrar</button>
        </div>

      </div>
    </div>
  </div>
  <img class="view-port"src="../../../assets/img/cover/cadastro2.jpg" alt="Pessoa escrevendo com caneta piloto em uma caixa de papelão">
  </form>
</section>
