/* Classe */
.view-port{
  background-position: bottom;
  width: 99vw;

}

.icone{
  width: 60%;
  margin-left: 30%;
}

.card_imagem{
  border-radius: 10px;
}
.card_principal{
  background-color: #393F60;
}

.input_margin{
  padding-right: 5%;
}

.imagem{
  width: 60%;
  margin-left: 20%;
  border-radius: 15px;
  margin-bottom: 20%;
  margin-top: 20%;
}

.botao{
  margin-left: 40%;
  margin-top: 10%;
}
/* id */
#texto_cadastro{
 color:#DFE2E2;
 font-family: 'Zilla Slab', serif;
 font-weight: bold;
}

#texto_warning{
  color:#DFE2E2;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
  text-align: center;
  font-size: 1.3em;
  margin-left:25%;
  margin-right:5%;
}

#tipo{
  margin-left: 8%;
}
