<footer class="page-footer">
  <div class="row main_footer">
   <div class="container">
     <div class="col l6 m12 s12">
       <ul class="lista_flex">
         <li><a class="white-text links_footer" href="/sobre">Sobre nós</a></li>
         <li><a class="white-text links_footer" href="/sobre">Contato</a></li>
         <li><a class="white-text links_footer" href="/sobre">Localização</a></li>
       </ul>
     </div>
   </div>
  </div>
  <div class="footer-copyright">
   <div class="container">
   © 2019 AugaÊ, todos os direitos reservados
   </div>
  </div>
</footer>
