<section class="row container">
  <div class="card">
    <div class="card-title" id="estilo_card">
      <img class ="col s12 " src="/assets/img/banners/pesquisa.jpg" alt="pessoas usando tablets, notebooks e smartphones">
      <h2 id="titulo_Pesquisa">Sessão de Pesquisa: </h2>
    </div>
  </div>
  <div class="col l2 m2 hide-on-small-only">
    <div class="card card_filtros">

      <div class="card-content">
        <h3 id="titulo_filtro">Filtros</h3>
        <h3 id="texto_filtro">Tipo:</h3>
        <label class="container_check">Livro
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container_check">Eletronico
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container_check">Cozinha
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <h3 id="texto_filtro">Marcas:</h3>
        <label class="container_check">Nintendo
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container_check">Sony
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container_check">Leya
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container_check">Tramontina
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <h3 id="texto_filtro">Localização:</h3>
        <label class="container_check">Rio de Janeiro
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container_check">Campo Grande
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container_check">Niteroi
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container_check">Caxias
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>

  <div class="col s12 l10 m10 ">
    <app-produtos></app-produtos>
  </div>
</section>
