<!-- Seção para editar cover do site
    Classe container define alinhamento da section -->
<section class="row container">
  <img class =" width_certa col s12 " src="/assets/img/banners/cover.jpeg" alt="casal segurando uma caixa">
  <div class="frase_cover hide-on-med-and-down">
    <p class="font_size_h3">Melhor do que <br>desapegar é </p>
    <img class = "logo" src="/assets/img/logo/ALugaÊ_Cfundo.png" alt="logo alugaê. Um aperto de mão">
    <p class="font_size_h2"> MONETIZAR!</p>
  </div>
  <div class="banner_subtitle hide-on-large-only row">
    <p class="font_size_h2">Melhor que desapegar</p>
    <div class="row">
      <p class="font_size_h2 col offset-m1 offset-s1 m5 s5">é MONETIZAR</p>
      <img class="logo_banner_mobile col  m6 s6" src="../../../assets/img/logo/logo_alugaÊ_menor.png" alt="">
    </div>
  </div>
</section>

<!--Seção de edição dos cards -->
<section class="container">
<div class="row hide-on-med-and-down">
  <div class="col l4 m6 s12 ">
    <div class="card">
      <div class="card-image">
        <img src="assets/img/banners/eletronicos.jpeg" alt="Pessoa segurando máquina fotográfica tirando foto de quem à observa">
      </div>
      <div class="card-content">
        <h3> Eletrônicos</h3>
        <h5>Alugue camêras, games, microfones e muito mais.Confira nossos destaques.</h5>
        <!-- Classe botao aqui só está mechendo no alinhamento.
         Para editar botão ver style.css .btn.btn-large -->
        <a class="waves-effect waves-light btn botao right-align" href="">Veja mais</a>
      </div>
    </div>
  </div>
  <div class="col l4 m6 s12" >
    <div class="card">
      <div class="card-image">
        <img src="assets/img/banners/livros.jpeg" alt="Pessoa segurando um livro">
      </div>
      <div class="card-content">
        <h3>Livros</h3>
        <h5>Alugue livros academicos,peças raras e muito mais. Confira nosso catálogo</h5>
        <a class="waves-effect waves-light btn botao" href="">Veja mais</a>
      </div>
    </div>
  </div>
  <div class="col l4 m6 s12">
    <div class="card">
      <div class="card-image">
        <img src="assets/img/banners/cozinha.jpeg" alt="Duas amigas felizes em uma cozinha">
      </div>
      <div class="card-content">
        <h3>Cozinha</h3>
        <h5>Alugue microondas, fogão de acampamento e muito mais.Confira nossos destaques.</h5>
        <a class="waves-effect waves-light btn botao" href="">Veja mais</a>
      </div>
    </div>
  </div>
</div>
</section>

<section class="row container">
  <h3 class="col 12">Aluguel do Momento:</h3>
</section>

<section>
  <app-produtos></app-produtos>
</section>
