<section>

</section>

<section>
  <div class="row white">
    <div class="col l4 m6 s12 ">
      <div class="card">
        <div class="card-image">
          <img src="assets/img/banners/eletronicos.jpeg" alt="Pessoa segunrando maquina fotografica tirando foto de quem à observa">
        </div>
        <div class="card-content">
          <h3> Eletrônicos</h3>
          <h5>Alugue camêras, games, microfones e muito mais.Confira nossos destaques.</h5>
        </div>
      </div>
    </div>

    <div class="col l4 m6 s12" >
      <h3>Livros</h3>
      <h5>Alugue livros academicos,peças raras e muito mais. Confira nosso catálogo</h5>
    </div>
    <div class="col l4 m6 s12">
      <h3>Cozinha</h3>
      <h5>Alugue microondas, fogão de acampamento e muito mais.Confira nossos destaques.</h5>
    </div>
  </div>
</section>
