<!-- <img src="../../assets/img/icones/lupa.svg" alt=""> -->
<!-- <i class="material-icons">search</i> -->
<ul id="categorias_dropdown" class="dropdown-content">
  <li><a href="#!">Eletrônicos</a></li>
  <li><a href="#!">Livros</a></li>
  <li><a href="#!">Cozinha</a></li>
</ul>

<nav class="main_nav nav-extended">
  <div class="nav-wrapper row">
    <a href="/home" class="brand-logo alugae_icon hide-on-med-and-down"><img src="../../../assets/img/logo/logo_alugaÊ_menor.png" class="logo_size" alt="Logo"></a>
    <a href="/home" class="brand-logo center hands_icon hide-on-large-only"><img src="../../../assets/img/logo/ALugaÊ_ICON.svg" class="hands_icon" alt="Logo"></a>
    <a materialize="sideNav" [materializeParams]="[{edge:'left'}]"  href="#" data-activates="mobile-demo" class="hide-on-large-only sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul>
      <li class=" col offset-l3 l1 hide-on-med-and-down"><a class="dropdown-button" href="#!" data-activates="categorias_dropdown">Categorias <i class="material-icons m_i_menor">arrow_drop_down</i></a></li>
    </ul>
    <form>
      <div class="input-field col l4 hide-on-med-and-down">
        <input id="search" type="search" placeholder="Procure um produto para alugar:" required>
      </div>
      <a class="btn waves-light col l1 hide-on-med-and-down valign-wrapper" type="submit" name="busca">Busca</a>
    </form>
    <!-- <div class="perfil_logado" *ngIF="logado">
    </div> -->
  </div>
  <div class="ally_nav">
    <div class="row">
      <ul class="flex_container hide-on-med-and-down">
        <li class=""><a href="#test1">Eletrônicos</a></li>
        <li class="divisor">|</li>
        <li class=""><a href="#test2">Livros</a></li>
        <li class="divisor">|</li>
        <li class=""><a href="#test4">Cozinha</a></li>
      </ul>
      <form class="hide-on-large-only">
        <div class="input-field col offset-m2 m8 offset-s2 s8">
          <input id="search" type="search" placeholder="Busca" required>
        </div>
        <img class="col m1 s1" id="lupa" src="../../assets/img/icones/lupa.svg" alt="">
      </form>
    </div>
  </div>
</nav>

<ul class="side-nav" id="mobile-demo">
    <div class="default_bg side_header">
      <a href="home.html" class="brand-logo right"><img src="../../../assets/img/logo/logo_alugaÊ_menor.png" class="logo_size" alt="Logo"></a>
    </div>
    <li routerLinkActive="active"><a href="/art_gallery">Eletrônicos</a></li>
    <li routerLinkActive="active"><a href="/articles">Livros</a></li>
    <li routerLinkActive="active"><a href="/about">Cozinha</a></li>
    <li routerLinkActive="active"><a href="/contact">ista de desejos</a></li>
    <li routerLinkActive="active"><a href="/about">Cadastrar Item</a></li>
  </ul>
