
/* CONFIGURAÇÕES NAV GERAL */

nav.nav-extended .nav-wrapper{
  height: 11vh;
  background: linear-gradient(180deg, #393F60 0%, #575E8B 100%);
  margin-bottom: 0;
  min-height: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.ally_nav{
  /* position: absolute; */
  width: 100%;
  background: #95B2D0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  /* A shadow não estava sendo castada sem a  position relative e eu nao tenho ideia do porquê */
  height: 9.65vh;
  /* margin-bottom: 5vh; */
  /* z-index: 100; */
}

nav{
  background-color: transparent;
  width: 100%;
}

.login_provisorio{
  margin-left: 30%;
}



/* __________________________________________________________________________________________________________________________ */

/* CONFIGURAÇÕES LOGO */

.logo_size{
  height: 9.5vh;
}


.alugae_icon{
  position: absolute;
  left: auto;
  right: 78.58%;
  top: 8%;
  bottom: auto;
}


.hands_icon{
  height: 10.3vh;
}


/* __________________________________________________________________________________________________________________________ */

/* CONGIGURAÇOES DE INPUT */

.main_nav input{
  margin-top: 2vh;
  padding-left: 2vh;
  width: 100%;
  height: 7vh;
}


.ally_nav input{
  margin-top: 3.5vh;
  height: 3.5vh;
  display: flex;
  justify-content: center;
}


.ally_nav input[type=search]:not(.browser-default){
  background-color: white;
  border-radius: 5px;
  margin-bottom: 0;
  position: relative;
  top: 3.5vh;
}


input::placeholder{
  padding-left: 1vw;
  color: rgba(28, 179, 200, 0.5);
}
input#search_ally{
  margin-top: 0;
}


/* __________________________________________________________________________________________________________________________ */


/* CONFIGURAÇÕES DE ROW E COL */

.row{
  margin-bottom: 0;
}

.row .col.offset-l3{
  margin-left: 23%;
}

/* __________________________________________________________________________________________________________________________ */

/* CONFIGURAÇÕES DE BOTÕES, LABELS E LINKS */
 .cadastrar{
   height: 2.5vh;
 }

nav .sidenav-trigger i{
  margin-left: 4vw;
  padding-top: 1vh;
  margin-top: 0vh;
  font-size: 3.5vh;
  height: 3.5vh
}


.main_nav button.btn{
  font-family: Roboto, sans-serif;
  margin-top: 2vh;
  height: 7vh;
  width: 8.3vw;
  border-radius: 0px 5px 5px 0px;
  background: #1CB3C8;
  text-transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: none;
}


.ally_nav label, .ally_nav img{
  height: 2.71vh;
  color: #1CB3C8 !important;
  right: 0rem;
  left: auto;
}

#lupa{
  position: relative;
  left: -4vw;
  top: 4vh;
}

nav i.material-icons.favorite_icon{
  display: inline-block;
  width: 1em;
  padding: 0;
  line-height: 1em;
  height: 1em;
}

#favorite_link, #user_login{
  position: absolute;
  display: flex;
  align-items: center;
  right: 7.5%;
  top: 0.5vh;
}

#cadastrar_link, #user_cadastro{
  display: flex;
  align-items: center;
  position: absolute;
  right: 1%;
  top: 0%;
  font-weight: 400;
}

.img-circle {
  position: absolute;
  width: 7vh;
  border-radius: 50%;
  right: 2%;
  top: 2vh;
}


/* __________________________________________________________________________________________________________________________ */

/* CONFIGURAÇÕES DE LISTA/DROPDOWN */




#categorias_dropdown li{
  margin-top: 0vh;
}


.main_nav i.m_i_menor{
  height: 100%;
  letter-spacing: normal;
  line-height: 7vh;
  float: right;
}


.dropdown-content {
  top: 67% !important;
}


.nav-wrapper li{
  line-height: 7vh;
  height: 7vh;
  margin-top: 2vh;
  width: 10vw;
  background-color: #ffffff;
  border-collapse: collapse;
  border-right-style: solid;
  border-right-width: 0.0075vw;
  border-color: #1CB3C8;
}


.nav-wrapper li a.dropdown-button{
  font-family: Roboto, sans-serif;
  font-weight: normal;
  padding: 0 0 0 1vh;
  color: #1CB3C8;
  word-break:normal;
  width: 100%;
}

.ally_nav li, .ally_nav a{
  margin-top: 0.5vh;
  line-height: 8.65vh;
  height: 8.65vh;
  font-size: 1.05em;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.ally_nav li.divisor{
  font-size: 9vh;
  font-weight: 100;
}

/* __________________________________________________________________________________________________________________________ */

  /* CONFIGURAÇÕES SIDENAV */

  .side-nav{
    background: linear-gradient(180deg, #393F60 0%, #575E8B 100%);
  }
  .fundo_active{
    background-color: #95B2D0;
    margin-bottom: 2%;
    color:#1CB3C8;
  }

  .color{
    color: white;
  }


  @media (min-width: 893px) and (max-width: 1200px){
    .logo_size{
      height: 7vh;
    }
    .alugae_icon{
      position: absolute;
      left: auto;
      right: 78.58%;
      top: 18%;
      bottom: auto;
    }
  }
